.top_container {
    /* width: 96%;
    margin-left: 2%;
    margin-right: 2%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#subscribe_link, #search_icon {
    margin-top: 15px;
}

#frontpage_header {
    text-decoration: underline;
}

