.first_page {
    display: flex;
    flex-direction: column;

}

.top_container {
    /* width: 96%;
    margin-left: 2%;
    margin-right: 2%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#subscribe_link, #search_icon {
    margin-top: 15px;
}

#frontpage_header {
    text-decoration: underline;
}

.cards_grid {
    margin-left: 24%;
    width: 75%;
    display: grid;
    grid-template-columns: 35% 42%;
    grid-template-rows: 33% 33% 33%;
    padding: 5px;
}

.story_card {
    border: 3px solid lightgray;
    padding: 5px;
    margin: 5px;
}

.right {
    margin-left: 10px;
}

.world_post {
    color: blue;
}

.design_post {
    color: green;
}

.bottom_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    margin-left: 28%;
    width: 50%;
}

@media screen and (max-width: 300px) {
    .cards_grid {
        margin-left: 24%;
        width: 75%;
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 16%;
        padding: 5px;
    }
  }

